#posts_sec {
	/*padding-top: 140px;*/
}
.post {
	max-height: 870px;
	margin-bottom: 20px;
}
/*teh*/
.teh-wrap {
	width: 200px;
	padding: 0 0 0 10px;
	position: absolute;
}
.teh {
	min-height: 100px;
	border: 1px solid #ccc;
}
/*END teh*/
/*info*/
.inf-wrap {
	padding-right: 0;
}
.info {
	background: #fff;
	width: 100%;
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.25);
}
.date,.stats {
	padding-left: 5px;
}
.info .stats li {
	text-align: center;
	list-style-type: none; 
}
.date,.stats a{
	color: #551a8b;
	min-width: 16px;
}
.date,.stats a span {
	color: #5f5a5a;
	padding-left: 15px;
}


/*END info*/
.img_post a img {
	width: 100%;
}
.intr-wrap {
	background: #fff;
	box-shadow: 0 0 0.25em 0em rgba(0, 0, 0, 0.25);
}

.intr header {
	padding: 20px;
}
.intr header h2 a{
	/*color: #551a8b;*/
	color: rgba(31, 29, 29, 0.75);
	font-weight: 500;
}
.intr header h2 a:hover{
	text-decoration: none;
}
/*introduction*/
.more {
	float: right;
	width: 100px;
	height: 35px;
	text-align: center;
}

/*END introduction*/