{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col col-md-2">
				<a href="/regTech">TECHNOLOGY</a>
				<br>
				<a href="/addPost">POST</a>
			</div>

		</div>
	</div>
{% endblock %}